{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkWell | Home</title>
    <link rel="stylesheet" href="{% static 'base/index.css' %}">
</head>
<body>
  <header>
    <div class="logo">
        <h1>WorkWell</h1>
    </div>
    <nav>
        
        {% if user.is_authenticated %}
        <a href="logout">Log out</a>
        <a href="{% url 'dashboard' %}" class='coloured'>Dashboard</a>

        {% else %}
        <a href="login">Log in</a>
        <a href="Register" class='coloured'>Get started</a>
        {% endif %}
          
    </nav>
  </header>
  <main>
    <div class="container">
      
      {% if user.is_authenticated %}
        {{user.username}}
      {% endif %}
        
        <h1>GET <span>ORGANIZED</span>  AND <span>COLLABORATE</span> EFFICIENTLY;</h1>
        <p>Create To-Dos and schedule Meetings With <span>WorkWell</span> </p>
        <button>Get Started</button>
    </div>
  </main>
</body>
</html>