{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WorkWell | Dashboard</title>
    <link rel="stylesheet" href="{% static 'base/index.css' %}">
    <link rel="stylesheet" href="{% static 'base/dashboard.css' %}">
  </head>
  <body>
   <header>
    <div class="logo">
        <h1>WorkWell</h1>
    </div>
    <nav>
        <a href="{% url 'home' %}">Home</a>
    </nav>
   </header>
   <main>
     <h2>Welcome Back, Taiwo</h2>
   </main>


    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
